<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hrvladev.caffeinate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>F3043694-3CD4-4139-9A97-EC8DBBD838BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B614D452-BAB7-4C34-AA3C-F32B86907AAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hrvladev</string>
	<key>description</key>
	<string>Prevent the system from sleeping</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeinate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>caffeinate</string>
				<key>subtext</key>
				<string>Prevent the system from sleeping</string>
				<key>text</key>
				<string>Caffeinate</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F3043694-3CD4-4139-9A97-EC8DBBD838BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>caffeinate -dism</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B614D452-BAB7-4C34-AA3C-F32B86907AAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B614D452-BAB7-4C34-AA3C-F32B86907AAE</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F3043694-3CD4-4139-9A97-EC8DBBD838BF</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hrvladev.com</string>
</dict>
</plist>
